:root {
  --main-color: #10cab7;
  --section-background: #f6f6f6;
  --padding: 50px;
  --secondry-color: #2c4755;
  --paragraph-color: #444;
}
/* Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.special-header {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special-header + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}

/* Header */

header {
  padding: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 60px;
}

.menu {
  position: relative;
}

.icons {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.icons span {
  margin-bottom: 5px;
  height: 1.8px;
  background-color: #333;
  width: 100%;
}

.icons span:last-child {
  height: 2.5px;
}

.icons span:nth-child(2) {
  width: 60%;
  transition: 0.3s ease;
}

.menu:hover span:nth-child(2) {
  width: 100%;
}

.menu:hover ul {
  display: block;
}

.menu ul {
  position: absolute;
  list-style: none;
  background-color: var(--section-background);
  right: 0;
  top: calc(100% + 15px);
  min-width: 200px;
  display: none;
  z-index: 999;
}

.menu ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--section-background) transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

.menu ul li {
  padding: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu ul li:hover {
  padding-left: 25px;
  
}

.menu ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.menu ul li a {
  color: black;
}

/* Landing */

.landing {
  background-image: url("../images/beatenberg-gcf5d9c226_1920.jpg");
  height: calc(100vh - 64px);
  background-size: cover;
  position: relative;
}

.landing .info {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
  line-height: 2;
}

.landing .info h1 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 50px;
}

.landing .info p {
  line-height: 2;
  word-spacing: 2px;
  font-size: 19px;
}

/* Features */

.features {
  background-color: var(--section-background);
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .card {
  padding: 20px;
  text-align: center;
}

.features .info h3 {
  font-weight: 900;
  font-size: 15px;
  margin: 20px 0;
}

.features .info p {
  color: #777;
  line-height: 2;
  word-spacing: 1.4px;
  font-size: 17px;
}

.features i {
  color: var(--main-color);
  font-size: 3em;
}

/* Services */

.services {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.services .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}

.services .srv {
  display: flex;
  margin-bottom: 40px;
}

.services .info {
  flex: 1;
}

.services .info h3 {
  margin: 0 0 20px;
}

.services .info p {
  line-height: 1.6;
  font-weight: 300;
  color: #444;
}

.services i {
  color: var(--main-color);
  font-size: 2em;
  flex-basis: 60px;
}


.services .image-col {
  position: relative;
  width: 300px;
}

.services .image-col img {
  width: 250px;
}

.services .image-col::before {
  content: "";
  background-color: var(--secondry-color);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  z-index: -1;
  right: 0;
}

/* Portifolio */

.portifolio {
  background-color: var(--section-background);
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.portifolio .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 50px;
}

.portifolio .card {
  background-color: white;
}

.portifolio .info {
  padding: 20px;
}

.portifolio .info p {
  color: #777;
  line-height: 1.6;
  margin-top: 10px;
}

.portifolio img {
  max-width: 100%;
}

/* About */

.about {
  padding-top: var(--padding);
  padding-bottom: calc(var(--padding) + 60px);
}

.about .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.about .image {
  position: relative;
  width: 250px;
  height: 375px;
}

.about img {
  max-width: 100%;
}

.about .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}

.about .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
}

.about .info {
  flex-basis: calc(100% - 500px);
}

.about .info p {
  line-height: 2;
}

.about .info p:first-child {
  font-weight: bold;
  margin-bottom: 50px;
}

.about hr {
  border: 1px solid var(--main-color);
  width: 50%;
  display: inline-block;
}

.about .info p:last-child {
  color: #777;
  margin-top: 20px;
}

/* Contact */

.contact {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: var(--section-background);
}

.contact .info {
  display: grid;
  text-align: center;
  line-height: 1.5;
  margin: 50px 0;
}

.contact .info h1 {
  color: var(--secondry-color);
  font-weight: 900;
  font-size: 35px;
  word-spacing: -2px;
}

.contact .info a {
  color: var(--main-color);
  font-weight: 900;
  font-size: 34px;
}

.contact .info p {
  padding-top: 10px;
}
.contact i {
  margin-left: 10px;
  color:var(--secondry-color)
}

/* Footer */

footer{
  background-color: var(--secondry-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
  border-bottom:1px solid var(--secondry-color);
}

footer span {
  color: var(--main-color);
  font-weight: 900;
}